$color-section-first:               #87509c;
$color-section-second:              #17c2a4;
$color-section-third:               #e7f1f8;
$color-section-fourth:              #ffffff;
$color-section-fifth:               #ffdd99;
$color-section-sixth:               #d74680;
$color-section-seventh:             #3c5499;

$color-font-main:                   #ffffff;
$color-font-main--dark:             #3c4761;
$color-font-main--mine-shaft:       #393939;
