.button {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  max-width: 293px;
  min-height: 66px;

  font-size: $font-size--large;
  font-weight: 600;

  color: $color-font-main;
  text-transform: uppercase;
  background-color: $color-btn-default;
  border-radius: 5px;

  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.2);

  span{
    margin: auto;
  }

  &:hover {
    background-color: $color-btn-hover--default;
  }

  &--orange {
    background-color: $color-btn--orange;

    &:hover {
      background-color: $color-btn-hover--orange;
      box-shadow: none;
    }
  }

  &--green {
    background-color: $color-btn--green;

    &:hover {
      background-color: $color-btn-hover--green;
      box-shadow: none;
    }
  }

  &--blue {
    background-color: $color-btn--blue;

    &:hover {
      background-color: $color-btn-hover--blue;
      box-shadow: none;
    }
  }

  &--submit {
    width: 100%;

    font-family: inherit;
    border: none;
    cursor: pointer;

  }
}

