.page-header {
  padding-top: 20px;
  padding-bottom: 50px;

  background-color: $color-page-header;
  color: $color-font-main;

  @media (min-width: $screen-md) {
    padding-top: 55px;
    padding-bottom: 150px;
  }

  &__top {
    margin-bottom: 50px;

    @media (min-width: $screen-sm--larger) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $screen-md) {
      padding-left: 43px;
      padding-right: 10px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 43px;
      padding-right: 10px;
      margin-bottom: 125px;
    }
  }

  &__logo {
    margin-bottom: 10px;

    display: block;
  }

  &__nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__nav-list{
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
  }

  &__nav-item {
    border-color: transparent;
    border-style: solid;
    border-top-width: 0.4em;
    border-bottom-width: 0.4em;
    border-left-width: 0.9em;
    border-right-width: 0.9em;
    border-radius: 5px;

    &:hover {
      background-color: $color-page-header--nav;
      border-color: $color-page-header--nav;
    }

    @media (min-width: $screen-md) {
      margin-left: 15px;
    }
  }

  &__text {
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;

    max-width: 910px;

    font-size: $font-size-welcome-text--mobile;
    font-weight: 700;

    p {
      margin: 0;
    }

    @media (min-width: $screen-sm) {
      font-size: $font-size-welcome-text;
      text-align: center;
    }
  }
}

