.page-header {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $color-page-header;
  color: $color-font-main;

  &__top {
    margin-bottom: 50px;

    @media (min-width: $screen-sm--larger) {
      display: flex;
      justify-content: space-between;
      // align-items: baseline;

    }
  }

  &__logo {
    margin-bottom: 10px;

    display: block;
  }

  &__nav {
    display: flex;

    text-transform: uppercase;
    // font-size: $font-size--small;
  }

  &__nav-list{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    list-style: none;
  }

  &__nav-item {
    border-color: transparent;
    border-style: solid;
    border-top-width: 0.4em;
    border-bottom-width: 0.4em;
    border-left-width: 0.9em;
    border-right-width: 0.9em;
    border-radius: 5px;

    &:hover {
      background-color: $color-page-header--hover;
      border-color: $color-page-header--hover;
    }
  }

  &__nav-item a {
    color: inherit;
  }

  &__text {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    max-width: 910px;

    font-size: $font-size-header-text--small;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      font-size: $font-size-header-text;
      text-align: center;
    }
  }
}

