.page-section {
  padding-top: 50px;
  padding-bottom: 50px;

  &--services {
    background-color: $color-section-first;
    color: $color-font-main;
  }

  &--team {
    background-color: $color-section-second;
    color: $color-font-main--dark;
  }

  &--skills {
    background-color: $color-section-third;
    color: $color-font-main--dark;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    @media (min-width: $screen-sm) {
      justify-content: space-around;
    }
  }

  @media (min-width: $screen-sm) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
