.portfolio-item {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 80px;
  }

  &__image {
    margin-bottom: 25px;
  }

  &__title {
    display: block;

    font-size: $font-size--large;
    text-transform: uppercase;
    text-align: center;
  }
}
