.service-item {
  @include adaptive-items;

  &__image {
    margin-bottom: 25px;

    @media (min-width: $screen-md) {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 20px;

    display: block;

    font-size: $font-size-item-title;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.09em;
  }
}
