.test-block {
  display: flex;
  width: 300px;
  margin: 30px auto;
  background-color: green;

  &:hover {
    background-color: #ccadff;
  }

  &__title {
    color: #ccf;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
}
